<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="../Stylesheet/w3.css">
</head>
<body>
<% include templates/header.ejs%>
<h3>About</h3>
<p>Hey, am the superman that was sent to save you all from hackers</p>
</body>
</html>

