<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheet/w3.css' />
</head>
<body>
<% include templates/header.ejs%>
<h3>Categories</h3>
<p>This are the categories of</p>
</body>
</html>

