<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="../Stylesheet/w3.css">
</head>
<body>
<% include templates/header.ejs%>
<h3><%= title %></h3>
<div>
    <ul>
        <li>
            <a href="#">Men's Jeans</a></li>
        <li>  <a href="#">Men's T-Shirts</a></li>
        <li><a href="#">Men's Trousers and Shorts</a></li>
        <a href="#">Suit, Blazers & Jackets</a></li>
        <li>  <a href="#">Polo Shirts</a></li>
        <li> <a href="#">Foot wears</a></li>
        <li><a href="#">Traditional wears</a></li>
        <li> <a href="#">Islamic wears</a>
        </li>
    </ul>
</div>
</body>
</html>

